<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 2 7</title>

    <%-include ('partials/head.html') %>
</head>


<body>

    <%-include ('partials/navigation.html') %>
    


    <div class="container">
        <header class="row">
          <div class="col-lg-12 text-center">
            <img src="/img/meepo_icon_by_imkb_d6l512x-fullview.png" class="w-auto animated bounceIn" alt="Website Logo" width="300" height="300" HSPACE="10" VSPACE="150">
          </div>
        </header>
      </div>
  
      <%-include ('partials/footer.html') %>
</body>
</html>
